<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kernel360.tang.member.MemberMapper">

  <select id="selectMemberByMemberId" resultType="org.kernel360.tang.member.MemberSummary">
    SELECT member_id, username
    FROM member
    WHERE member_id = #{id}
  </select>

  <select id="selectMemberByUsername" resultType="org.kernel360.tang.member.Member">
    SELECT member_id, username, password
    FROM member
    WHERE username = #{username}
  </select>

</mapper>