<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kernel360.tang.member.MemberMapper">

  <select id="selectMemberByMemberId" resultType="org.kernel360.tang.member.MemberSummary">
    SELECT member_id, username
    FROM member
    WHERE member_id = #{id}
  </select>

  <select id="selectMemberByUsername" resultType="org.kernel360.tang.member.Member">
    SELECT member_id, username, password
    FROM member
    WHERE username = #{username}
  </select>

  <!-- 아이디 중복 체크 -->
  <select id="isMemberExist" resultType="int">
      SELECT COUNT(*) FROM member WHERE username = #{userId}
  </select>

  <!-- 사용자 저장 -->
  <insert id="saveUser" parameterType="org.kernel360.tang.auth.MemberDto" useGeneratedKeys="true" keyProperty="memberId">
      INSERT INTO member (username, password)
      VALUES (#{username}, #{password});
  </insert>
</mapper>
