<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kernel360.tang.seat.SeatMapper">

	<select id="getAvailableSeat" resultType="org.kernel360.tang.seat.AvailableSeatDto">
		SELECT
		    st.time_id AS timeId,
				st.seat_id AS seatId,
				st.start_dt AS startAt,
				st.end_dt AS endAt,
				sr.status AS statusCode,
				sr.reserved_at AS reservedAt,
				sr.canceled_at AS canceledAt
		FROM seat_time st
		    LEFT JOIN seat_resv sr ON st.time_id = sr.time_id
		WHERE st.seat_id = #{seatId}
				AND DATE(st.start_dt) = #{date}
	</select>

</mapper>
